---
import Contact from '@components/Contact.astro';
import CTA from '@components/CTA.astro';
import Timeline from '@components/Timeline';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<Timeline />
		<CTA />
		<Contact />
	</main>
</Layout>
