---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '@components/Hero.astro';
import Container from '@components/Container.astro';
---

<Layout title='Welcome to Astro.'>
	<main>
		<Container>
			<Hero />
		</Container>
	</main>
</Layout>
