---
import Contact from '@components/Contact.astro';
import CTA from '@components/CTA.astro';
import Hero from '@components/Hero.astro';
import Intro from '@components/Intro.astro';
import Portfolio from '@components/Portfolio.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<Hero />
		<Intro />
		<Portfolio />
		<CTA />
		<Contact />
	</main>
</Layout>
