---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '@components/Hero.astro';
import Container from '@components/Container.astro';
import Intro from '@components/Intro.astro';
---

<Layout title='Web Developer | Raymond Kneipp'>
	<main>
		<Hero />
		<Intro />
	</main>
</Layout>
