---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '@components/Hero.astro';
import Container from '@components/Container.astro';
import Intro from '@components/Intro.astro';
import Portfolio from '@components/Portfolio.astro';
import CTA from '@components/CTA.astro';
import Contact from '@components/Contact.astro';
---

<Layout title='Web Developer | Raymond Kneipp'>
	<main>
		<Hero />
		<Intro />
		<Portfolio client:visible />
		<CTA />
		<Contact />
	</main>
</Layout>
