---
import ContactForm from '@components/ContactForm';
import CopyEmail from '@components/CopyEmail';
import Container from './Container.astro';
---

<Container>
	<section id="contact" class="py-24">
		<h2 class="text-4xl text-neutral-100 text-center font-heading">
			Contact Me
		</h2>
		<ContactForm client:load />
		<div class="flex items-center gap-3 max-w-md mx-auto py-6">
			<span class="bg-neutral-800 h-px flex-1"></span>
			<span class="text-neutral-400">or email me</span>
			<span class="bg-neutral-800 h-px flex-1"></span>
		</div>
		<CopyEmail client:load />
	</section>
</Container>
