---
import Container from './Container.astro';
import ContactForm from '@components/ContactForm';
import CopyEmail from '@components/CopyEmail';
---

<Container>
	<section id='contact' class='py-24'>
		<h2 class='text-4xl font-bold text-zinc-100 text-center'>Contact Me</h2>
		<ContactForm client:load />
		<div class='flex items-center gap-3 max-w-md mx-auto py-6'>
			<span class='bg-zinc-800 h-px flex-1'></span>
			<span class='text-zinc-400'>or email me</span>
			<span class='bg-zinc-800 h-px flex-1'></span>
		</div>
		<CopyEmail client:load />
	</section>
</Container>
