---
import { IoLogoFacebook, IoLogoTwitter } from 'react-icons/io5/index.js';
import Container from './Container.astro';
---

<footer class="border-t border-neutral-800">
	<Container>
		<div
			class="flex items-center justify-between flex-col md:flex-row py-6 space-y-3 md:space-y-0"
		>
			<div class="flex items-center space-x-3">
				<img src="/logo.svg" width="80px" alt="RK Web Design Logo" />
				<div class="flex flex-col">
					<h2 class="text-neutral-100 font-heading font-semibold">
						Raymond Kneipp
					</h2>
					<p class="font-normal text-neutral-400">Web Design</p>
				</div>
			</div>
			<div class="flex items-center gap-3 flex-wrap justify-center">
				<a
					href="https://twitter.com/rfkquery"
					class="flex items-center text-neutral-400 hover:text-neutral-100 transition hover:bg-neutral-800 px-3 py-1.5 rounded-lg focus:outline-none focus-visible:ring focus-visible:ring-blue-400"
				>
					<IoLogoTwitter size={24} />
					<span class="ml-3">Twitter</span>
				</a>
				<a
					href="https://www.facebook.com/rfkquery/"
					class="flex items-center text-neutral-400 hover:text-neutral-100 transition hover:bg-neutral-800 px-3 py-1.5 rounded-lg focus:outline-none focus-visible:ring focus-visible:ring-blue-400"
				>
					<IoLogoFacebook size={24} />
					<span class="ml-3">Facebook</span>
				</a>
			</div>
		</div>
	</Container>
</footer>
