---
import { HiArrowRight, HiDocumentText } from 'react-icons/hi/index.js';
import { IoLogoGithub, IoLogoLinkedin } from 'react-icons/io5/index.js';
import Container from './Container.astro';
---

<Container>
	<section class="py-24 max-w-screen-md mx-auto">
		<div class="flex items-center flex-col space-y-6 md:flex-row">
			<img
				src="/me.png"
				width="200px"
				height="200px"
				alt="Raymond Kneipp Portrait"
			/>
			<div class="flex flex-col md:items-start">
				<div
					class="p-6 sm:p-12 rounded-2xl flex flex-col gap-3 bg-black border border-neutral-800 items-start"
				>
					<p class="text-neutral-300 text-lg">
						Hello, I'm Raymond Kneipp, a Marine Corps veteran and a full-stack
						web developer based in Cincinnati, Ohio. I spend most of my days
						learning to keep up with the ever-changing development ecosystem.
					</p>
					<a
						href="/about"
						class="text-blue-400 hover:text-blue-300 transition flex gap-1 items-center justify-start rounded-lg focus:outline-none focus-visible:ring focus-visible:ring-blue-400"
					>
						<span>Read More</span>
						<HiArrowRight />
					</a>
				</div>
				<div class="flex items-center gap-3 flex-wrap justify-center mt-3">
					<a
						href="https://www.linkedin.com/in/raymondkneipp/"
						target="_blank"
						class="flex items-center text-neutral-400 hover:text-neutral-100 transition hover:bg-neutral-800 px-3 py-1.5 rounded-lg focus:outline-none focus-visible:ring focus-visible:ring-blue-400"
					>
						<IoLogoLinkedin size={24} />
						<span class="ml-3">LinkedIn</span>
					</a>
					<a
						href="https://github.com/raymondkneipp"
						target="_blank"
						class="flex items-center text-neutral-400 hover:text-neutral-100 transition hover:bg-neutral-800 px-3 py-1.5 rounded-lg focus:outline-none focus-visible:ring focus-visible:ring-blue-400"
					>
						<IoLogoGithub size={24} />
						<span class="ml-3">GitHub</span>
					</a>
					<a
						href="/resume.pdf"
						target="_blank"
						class="flex items-center text-neutral-400 hover:text-neutral-100 transition hover:bg-neutral-800 px-3 py-1.5 rounded-lg focus:outline-none focus-visible:ring focus-visible:ring-blue-400"
					>
						<HiDocumentText size={24} />
						<span class="ml-3">Resume</span>
					</a>
				</div>
			</div>
		</div>
	</section>
</Container>
