---
import Container from './Container.astro';

const logos = [
	{
		name: 'Alpost',
		url: 'alpost.svg',
	},
	{
		name: 'Alssweeper',
		url: 'alssweepers.svg',
	},
	{
		name: 'My Logo',
		url: 'portfolio.svg',
	},
	{
		name: 'BioBoost',
		url: 'bioboost.svg',
	},
	{
		name: "Cam'struction",
		url: 'camstruction.svg',
	},
	{
		name: 'Beauty Bratz',
		url: 'beauty-bratz.svg',
	},
];
---

<Container>
	<section class="py-24 pt-0 space-y-6" id="portfolio">
		<h2 class="text-4xl font-bold text-neutral-100">Logos</h2>

		<div
			class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-6 gap-6 sm:gap-12"
		>
			{
				logos.map((logo) => (
					<div class="space-y-3 flex flex-col items-center">
						<img
							src={`/logos/${logo.url}`}
							alt={`${logo.name} logo`}
							class="rounded-2xl"
							width="100%"
							height="100%"
						/>
						<h3 class="text-xl font-bold text-neutral-100 capitalize">
							{logo.name}
						</h3>
					</div>
				))
			}
		</div>
	</section>
</Container>
