---
const { to } = Astro.props;
---

<a
	href={to}
	class="text-center items-center justify-center text-neutral-900 font-bold rounded-lg py-3 px-6 bg-blue-400 inline-flex hover:bg-blue-300 transition focus:outline-none focus-visible:ring focus-visible:ring-blue-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-900"
>
	<slot />
</a>
