---
import Container from '@components/Container.astro';
import Link from './Link/Index.astro';
import MobileNav from './MobileNav/Index';
---

<nav class="sticky top-0 bg-black border-b border-neutral-800 z-50">
	<div class="relative">
		<Container>
			<div class="flex items-center justify-between py-6">
				<a
					href="/"
					class="focus:outline-none focus-visible:ring focus-visible:ring-blue-400 inline-flex rounded-lg focus-visible:ring-offset-8 focus-visible:ring-offset-neutral-900"
				>
					<img src="/logo.svg" width="80px" alt="RK Web Design Logo" />
				</a>
				<div class="space-x-3 hidden sm:flex">
					<Link to="/#">Home</Link>
					<Link to="/blog">Blog</Link>
					<Link to="/about">About</Link>
					<Link to="/#website-projects">Projects</Link>
					<Link to="/#contact-me">Contact</Link>
				</div>
				<MobileNav client:load />
			</div>
		</Container>
	</div>
</nav>
